* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  display: flex;
}
.background .background1 {
  background: var(--2, #ffffff);
  width: 50%;
}
.background .background1 .flexs .controlsakarya {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.background .background1 .flexs .controlsakarya .texts {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.background .background1 .flexs .controlsakarya .texts .eternal {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}
.background .background1 .flexs .controlsakarya .texts .eternal p {
  color: black;
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
}
.background .background1 .flexs .controlsakarya .texts h2 {
  color: black;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
}
.background .background1 .flexs .controlsakarya .texts img {
  border-radius: 35px;
  width: 35px;
  height: 35px;
}
.background .background1 .flexs .controlsakarya .sakaryatexts {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
.background .background1 .flexs .controlsakarya .sakaryatexts h2 {
  color: black;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
}
.background .background1 .flexs .controlsakarya .sakaryatexts p {
  color: black;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
}
.background .background1 .flexs .controlsakarya .hiddeninfo {
  display: flex;
}
.background .background1 .flexs .controlsakarya .hiddeninfo img {
  width: 60%;
  height: 10vh;
}
.background .background2 {
  background: var(--2, #e95258);
  width: 50%;
}
.background .background2 .flexs1 .texts1 {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.background .background2 .flexs1 .texts1 a {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.background .background2 .flexs1 .texts1 a h2 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.background .background2 .flexs1 .texts1 a div {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .background .background1 .flexs {
    padding-bottom: 20px;
  }
  .background .background1 .flexs .controlsakarya {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .background .background1 .flexs .controlsakarya .texts svg {
    width: 40px;
    height: 40px;
  }
  .background .background1 .flexs .controlsakarya .texts h2 {
    font-size: 21px;
  }
  .background .background1 .flexs .controlsakarya .texts img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }
  .background .background2 .flexs1 {
    padding-bottom: 20px;
  }
  .background .background2 .flexs1 .texts1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=index.module.css.map */